defmodule AdventOfCode2024.Day<%= day %>Test do
  use ExUnit.Case, async: true

  test "part_one/1" do
    input = """
    """

    assert AdventOfCode2024.Day<%= day %>.part_one(input) == 0
  end

  test "part_two/1" do
    input = """
    """

    assert AdventOfCode2024.Day<%= day %>.part_two(input) == 0
  end
end
